body {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background-image: linear-gradient(to right, #EDE6F5, #E8C5D1);
}

.main-gradient {
    background-image:linear-gradient(to right, #C3D6E7, #DCC3E8);
}

/* header */

header {
    text-align: center;
}

header h1 {
    font-size: 300%;
    font-weight: bold;
    margin-left: 20px;
}

/* footer */

.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 60px;
    }
footer a {
    color: black;
}

/* home page */

.container {
    margin-top: 5rem;
}

/* cards */

.card {
    width: 18rem;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
    background-color: #C3D6E7;
    /* background-image:linear-gradient(to right, #C3D6E7, #DCC3E8); */
};

img {
    max-width: 20%;
}

