/* General */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background-image: linear-gradient(to right, #EDE6F5, #E8C5D1);
}

.main-gradient {
    background-image: linear-gradient(to right, #C3D6E7, #DCC3E8);
}

a {
    text-decoration: none;
}


hr {
    width: 80%;
    border-top: 1px solid #007bff;
}

#tag {
    margin-bottom: 0;
}

/* flash messages  */
.flashes {
    background-color: black;
}

.flashes h4 {
    line-height: 2;
    color: white;
    margin: 0 auto;
}

#reg-submit {
    margin: 0 auto;
}

/* .custom-control-label {
    font-size: 1.6rem;
    
} */
/* header */

header {
    text-align: center;
}

header h1 {
    font-size: 300%;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 3vh;
}

/* footer */

.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
}

.space-2 {
    height: 10vh;
}

footer a {
    color: black;
}

.dev {
    text-align: center;
    display: inline;
}

.dev-icon {
    width: 60px;
    height: auto;
    border-radius: 50%;
    background-color: black;
}

.dev-icon:hover {
    border: 5px solid #007bff;
}

.dev-name {
    text-transform: uppercase;
    text-decoration: none;
}

#foot-list {
    list-style-type: none;
    text-decoration: none;
}

#foot-list>li {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

.cright {
    text-align: center;
    margin: 0 auto;
}

/* home page */

.container {
    margin-top: 1rem;
}

.home-cards {
    text-align: center;

}

.space {
    height: 5vh;
}

#hero {
    width: 70%;
    border-radius: 5px;
    margin: 2% auto 5% auto;
    background-color: #bedfee;
}

#intro-contents {
    text-align: center;
}

/* cards */

.card {
    width: 18rem;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
    background-color: #C3D6E7;
    margin: 19px auto;
    padding: 5%;
    border: 1px solid black;
}

/* images */

#image-box {
    margin-top: 5%;
}

.img-fluid {
    max-width: 85%;
    height: auto;
    background-color: #DCC3E8;
    border: 1px solid black;
}

/* ABOUT PAGE */

.about-image img {
    height: 100%;
    width: 100%;
}

.about-info {
    text-align: center;
}

/* EMPLOYEE SIGN UP PAGE */

form {
    border: 1px solid rgb(41, 37, 37);
    margin: 10px 0;
    padding: 1rem;
}

.next-page {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.success-message {
    border: 1px solid green;
}

/* login */

.login-box {
    position: relative;
    margin: 0 auto;
}

.login-box h2 {
    text-align: center;
}

/* 404 */

.card-404 {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
    background-color: #C3D6E7;
    color: black;
    margin: 19px auto;
    border: 1px solid black;
}

.card-404 a {
    color: white;
    font-size: 2rem;
}

.btn-404 {
    background-color: #C3D6E7;
}


/* Candidates style */

.font-weight-normal {
    font-weight: 500 !important;
}

.w-25 {
    width: 25% !important;
}

.text-muted {
    color: #b2b2b2 !important;
}

.mr-1, .mx-1 {
    margin-right: 0.625rem !important;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

@media screen and (max-width: 640px)  {
    .card-404 {
        width: 90%;
    }

    .dev-icon {
        width: 30px;
    }
}
/* CONTACT PAGE */

#contact-form {
    margin: 5% 0;
    border-radius: 10px;
}

#contact-form button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}