{% extends "base.html" %}
{% block content %}
<br>
<div class="container-fluid about-image">
    <img src="{{ url_for('static', filename='img/ladies-working.jpg') }}"
        alt="two ladies working on a laptop in a coffee shop">
</div>

<div class="container-fluid about-info">
    <h2>Who we are</h2>
    <p>
        Here at Upside Down Recruiters we aim to make the workplace a more welcoming and accessible environment.
        People with disabilities are more likely to be unemployed and face more difficulty than the average person when
        trying to enter the workforce.
        We hope to work with companies and other recuitment agencies to change this.
        Our team is currently focussing on working with people with Down Syndrome to try erase the misconception that
        they are unable to work.
        Our site has an easy to follow sign up process for those looking for work. When the profile is complete, just
        sit
        back and relax and let the employers come to you!
    </p>
</div>

<div class="container-fluid about-image">
    <img src="{{ url_for('static', filename='img/man-working.jpg') }}"
        alt="A man in a shirt and tie working in a coffee shop">
</div>

<div class="container-fluid about-info">
    <h2>Who you are</h2>
    <p>
        As a user of our website you're either a person with Down Syndrome looking for help finding a job,
        or you are an employer looking to hire someone.
        As a job seeker all you need to do is follow <a href=#>this link</a> to sign up, enter the details via the form
        or chatbot and this allows potential employers to find you. It's that simple!
        As an employer you need to register <a href=#>here</a> and you'll be able to view profiles of people looking to
        work.
    </p>
</div>

<div class="container-fluid about-image">
    <img src="{{ url_for('static', filename='img/ladies-working.jpg') }}" class="img-fluid max-width: 15% rounded shadow p-3 mb-5"
        alt="two ladies working on a laptop in a coffee shop">
</div>

<div class="container-fluid about-info">
    <h2>Why we need to work together</h2>
    <p>
        Some facts about the misconceptions about people with Down Syndrome, and why it's important
        to make the workplace more accessible to all.
    </p>

</div>


{% endblock %}