{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-6">
        <h1 class="text-center mt-3 mb-3">{{ user.full_name|title }}'s profile</h1>
    </div>
    <div class="col-12 col-md-6">
        <img class="img-fluid" src="{{ user.avatar }}" alt="avatar">
    </div>
</div>

<div class="container" id="employer-reg-container">
    <form id="employee-form" method="POST" action="{{ url_for('employee_update', username=user.email) }}">
      <h3>Personal details</h3>
      <div class="form-group">
        <label for="full_name">Full Name</label>
        <input type="text" class="form-control" id="full_name" name="full_name" value="{{user.full_name|title}}">
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly="readonly">
      </div>

      <div class="form-group">
        <label for="phone">Contact Number</label>
        <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}">
      </div>

      <div class="form-group" id="location-form">
        <span>
          <label for="city">Location</label>
          <input type="text" class="form-control" id="city" name="city" value="{{user.city|title}}">
        </span>
        <span>
          <input type="text" class="form-control" id="country" name="country" value="{{user.country|title}}">
        </span>
      </div>

      <hr>
      <h3>Experience</h3>
      <div class="form-group">
        <label for="description">Tell us a bit about yourself</label>
        <textarea class="form-control" id="description" name="description" rows="3" value="{{user.description}}"></textarea>
      </div>
      
      <p> What area are you looking for work in? </p>
      <div class="form-group form-check">
            {% for s in sectors %}
            {% if s.sector in user.sector %}
            <input type="checkbox" value="{{ s.sector }}" id="sector" name="sector" 
            aria-label="Checkbox for {{ s.sector }} sector" checked>
            {% else %}
            <input type="checkbox" value="{{ s.sector }}" id="sector" name="sector" 
            aria-label="Checkbox for {{ s.sector }} sector">
            {% endif %}
        <label class="checkbox-label mr-3" for="custom-checkbox">{{ s.sector }}</label>
        {% endfor %}
      </div>

      <p>Have you work experience in this area?</p>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="yes-btn-1" name="yes-btn-1" class="custom-control-input">
        <label class="custom-control-label" for="yes-btn-1">Yes</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="no-btn-1" name="no-btn-1" class="custom-control-input">
        <label class="custom-control-label" for="no-btn-1">No</label>
      </div>
      <div class="form-group">
        <label for="work-experience-box">Enter experience below:</label>
        <input type="text" class="form-control" id="work-experience-box" name="experience" value="{{user.experience}}">
      </div>

      <p>Have you other training or experiences relevant to this job?</p>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="yes-btn-2" name="yes-btn-2" class="custom-control-input">
        <label class="custom-control-label" for="yes-btn-2">Yes</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="no-btn-2" name="no-btn-2" class="custom-control-input">
        <label class="custom-control-label" for="no-btn-2">No</label>
      </div>
      <div class="form-group">
        <label for="other-experience-box">Enter experience below:</label>
        <input type="text" class="form-control" id="other-experience-box" name="education" value="{{user.education}}">
      </div>

      <hr>
      <h3>Preferences</h3>
      <p>Would you like a potential employer to contact you via phone or email?</p>
      <div class="custom-control custom-control-inline custom-checkbox">
        {% if "phone" in user.contact_preference %}
        <input type="checkbox" class="custom-control-input" id="check-phone" name="contact_preference" checked>
        {% else %}
        <input type="checkbox" class="custom-control-input" id="check-phone" name="contact_preference">
        {% endif %}
        <label class="custom-control-label" for="check-phone">Phone</label>
      </div>
      <div class="custom-control custom-checkbox">
        {% if "email" in user.contact_preference %}
        <input type="checkbox" class="custom-control-input" id="check-email" name="contact_preference" checked>
        {% else %}
        <input type="checkbox" class="custom-control-input" id="check-email" name="contact_preference">
        {% endif %}
        <label class="custom-control-label" for="check-email">Email</label>
      </div>

      <div class="form-group">
        <label for="accommodations">Finally, are there any accommodations you need for the interview or workplace?</label>
        <textarea class="form-control" id="accommodations" name="accommodations" value="{{user.accommodations}}" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary next-page" id="form-b-3" name="form-b-3">Update profile</button>
    </form>
  </div>

{% endblock %}