{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-12 col-md-6">
            <div>
                <p class="card">click the button below to start creating your Employer profile.</p>
            </div>
            <div>
                <p class="card"><button class="bg-btn-home">Click here!</button></p>
            </div>
        </div>
        <div class= "col-12 col-md-6">
            <div>
                <p class="card">click the button below to start creating your Employer profile.</p>
            </div>
            <div>
                <p class="card"><button class="bg-btn-home">Click here!</button></p>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="img-container" class="row">
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-one.jpg" class="img-fluid max-width: 20% rounded float-left" alt="">
        </div>
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-two.jpg" class="img-fluid max-width: 20% rounded float-left" alt="">
        </div>
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-three.jpg" class="home-img img-fluid max-width: 20% rounded float-left" alt="">
        </div>
    </div>
</div>


<!-- Home page content goes here -->
    {% for p in profile %}
    {{ p.name }}<br>
    {{ p.is_employer }}
    {% endfor %}

{% endblock %}