{% extends "base.html" %}
{% block content %}

<div class="container" id="intro-contents">
    <img src="{{ url_for('static', filename='images/hands.png') }}" class="shadow p-3 mb-5 rounded" id="hero" alt="two hands holding, one blue one yellow">


    <h2>Welcome to Enable Recruitment </h2>
    <p>
        We are here to connect individuals with down syndrome or similar conditions to employers
        with the needs of these individuals at heart. <br>
        For those looking for work, all you need to do it sign up and employers will be in touch. <br>
        Don't delay, sign up today!
    </p>

</div>

<div class="container" id="sign-up-box">
    <div class="row">
        <div class="col-12 col-md-6 home-cards ">
            <div>
                <p class="card shadow p-3 mb-5 rounded">Click the button below to start creating your Employee profile.
                </p>
            </div>
            <div>
                <p class="card shadow p-3 mb-5 rounded"><button class="bg-btn-home"><a
                            href="{{ url_for('employee_register') }}">Click here!</a></button></p>
            </div>
        </div>
        <div class="col-12 col-md-6 home-cards">
            <div>
                <p class="card shadow p-3 mb-5 rounded">Click the button below to start creating your Employer profile.
                </p>
            </div>
            <div>
                <p class="card shadow p-3 mb-5 rounded"><button class="bg-btn-home"><a
                            href="{{ url_for('employer_register') }}">Click here!</a></button></p>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="container-fluid">
    <div class="row" id="image-box">
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-one.jpg" class="img-fluid max-width: 15% rounded float-left shadow p-3 mb-5"
                alt="girl with downs syndrome working on laptop on table">
        </div>
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-two.jpg" class="img-fluid max-width: 15% rounded float-left shadow p-3 mb-5"
                alt="girl with downs syndrome working on laptop on chair">
        </div>
        <div class="col-12 col-sm-4">
            <img src="static/images/girl-three.jpg" class="img-fluid max-width: 15% rounded float-left shadow p-3 mb-5"
                alt="girl with downs syndrome  focusing hard laptop owhile working">
        </div>
    </div>
</div>

<div class="space"></div>


{% endblock %}